html{
  background: #c5e4e7;
}
.App{
  display:grid;
  grid-template-rows: 30% 70%;
  align-items: center;
  justify-content: center;
}
.header{
  text-align: center;
  width:100%;
  font-weight: 900;
  color: #00494d;
  font-size: 0.5rem;
  letter-spacing: 3px;
}
.calculator{
  background: white;
  font-weight: 400;
  width:100%;
  min-width: 200px;
  border-radius:20px;
  color: #00494d;
}
@media (max-width: 375px) {
  .App{
    grid-template-rows: 20% 80%;
  }
}
