html{
  background: #c5e4e7;
}
.header{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  color: #00494d;
  font-size: 8px;
  letter-spacing: 3px;
}
.calculator{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  font-weight: 400;
  width:70%;
  height:50%;
  border-radius:20px;
  padding: 20px;
  color: #00494d;
}
