
*{
    box-sizing: border-box;
}
.form{
   display: flex;
   flex-wrap: wrap;
}
.form > *{
    flex: 1 1 330px;
}
.left{
    padding: 1.5rem;
}
.input{
    padding-bottom: 0.5rem;
    padding-top: 0.2rem;
}
.input input{
    width: 100%;
    border-radius:5px;
    padding: 2%;
    background: #f4fafa;
    border: none;
    text-align: right;
    font-weight:700;
    color: #00494d;
    margin: 5px;
}
#bill{
    background-image: url(./images/icon-dollar.svg);
    background-position: 3% 50%;
    background-repeat: no-repeat;
    background-size: 0.5rem;
}
#nofP{
    background-image: url(./images/icon-person.svg);
    background-position: 3% 50%;
    background-repeat: no-repeat;
    background-size: 0.5rem;
}
.select-Tip{
    width: 100%;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
}
.select-Tip > * {
    flex: 1 0 25%;
}
.tip-option > input{
    width: 100%;
    min-width: 7em;

}
.select-Tip input{
    font-weight: 600;
    color: #00494d;
    text-align: center;
}
.cl-button{
    width:100%;
    padding: 0.3rem;
    background-color:  #00494d;
    color: white;
    border: none;
    border-radius: 5px;
}
.cl-button-active{
    background-color:  #26c0ab;
    color: #00494d;
    border: none;
    border-radius: 5px;
}
.cl-button:hover{
    background-color:  #0f99a0;
    color: white;
    border: none;
    border-radius: 5px;
}
label{
    font-size: 60%;
    padding-left: 2%;
}
.right{
    background-color: #00494d;
    width:100%;
    border-radius: 10px;
    color: white;
    margin: 1rem;
}
.result-template{
    margin: 1.7rem; 
    display: grid;
    font-size: 0.6rem;
    grid-template: 
            "a  c"
            "b  c"
}
.result-template p{
    margin: 0.1rem;
    font-weight: 600;
}
.person{
    font-size: 0.5rem;
    color: #c5e4e7;
}
.result{
    font-size: 1.7rem;
    grid-area: c; 
    text-align: right;
    color: #26c0ab;
    font-weight: bold;
}
.reset{
    margin:1rem;
    padding: 0.5rem;
    width: 90%;
    border: none;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 5px;
    background-color:#26c0ab;
    color: #00494d;
    letter-spacing: 0.1rem;
}