*{
    box-sizing: border-box;
}
.left{
    width: 90%;
    height: 80%;
}
.input{
    padding-bottom: 10px;
}
.input input{
    width: 100%;
    border-radius:5px;
    padding: 2%;
    background: #f4fafa;
    border: none;
    text-align: right;
    font-weight:700;
    color: #00494d;
    margin: 5px;
}
#bill{
    background-image: url(./images/icon-dollar.svg);
    background-position: 3% 50%;
    background-repeat: no-repeat;
    background-size: 3%;
}
#nofP{
    background-image: url(./images/icon-person.svg);
    background-position: 3% 50%;
    background-repeat: no-repeat;
    background-size: 3%;
}
.select-Tip{
    width: 100%;
    margin: 5px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30px 30px;
    grid-gap: 10px;
    padding-bottom: 10px;
}
.select-Tip button{
    background-color:  #00494d;
    color: white;
    border: none;
    border-radius: 5px;
}
.select-Tip input{
    width: auto;
    font-weight: 600;
    color: #00494d;
    text-align: center;
}
label{
    font-size: 60%;
    padding-left: 2%;
}
.right{
    background-color: #00494d;
    width:100%;
    height:100%;
    border-radius: 10px;
    color: white;
}
form{
    display: grid;
    grid-template-columns: 50% 50%;
}
