
*{
    box-sizing: border-box;
}
.form{
   display: grid;
   grid-template-columns: 50% 50%;
}
@media (max-width: 375px) {
    .form{
        grid-template-columns: none;
        grid-template-rows: 50vh 30vh;
    }
}
.error-message{
    color: rgb(138, 78, 0);
    padding-left: 1.5rem;
    font-size: 0.5rem;
}
.left{
    padding: 1.5rem;
}
.input{
    padding-bottom: 0.5rem;
    padding-top: 0.2rem;
}
.input input{
    width: 100%;
    border-radius:5px;
    padding: 2%;
    background: #f4fafa;
    border: none;
    text-align: right;
    font-weight:700;
    color: #00494d;
    margin: 5px;
}
#bill{
    background-image: url(./images/icon-dollar.svg);
    background-position: 3% 50%;
    background-repeat: no-repeat;
    background-size: 0.5rem;
}
#nofP{
    background-image: url(./images/icon-person.svg);
    background-position: 3% 50%;
    background-repeat: no-repeat;
    background-size: 0.5rem;
}
.select-Tip{
    width: 100%;
    gap: 0.5em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-bottom: 0.5rem;
}
@media (max-width: 375px) {
    .select-Tip{
        grid-template-columns: 50% 50%;
    }
}
.tip-option > input{
    width: 100%;
}
.select-Tip input{
    font-weight: 600;
    color: #00494d;
    text-align: center;
}
.cl-button{
    width:100%;
    padding: 0.3rem;
    background-color:  #00494d;
    color: white;
    border: none;
    border-radius: 5px;
}
.cl-button-active{
    width:100%;
    padding: 0.3rem;
    background-color:  #26c0ab;
    color: #00494d;
    border: none;
    border-radius: 5px;
}
.cl-button:hover{
    background-color:  #0f99a0;
    color: white;
    border: none;
    border-radius: 5px;
}
label{
    font-size: 60%;
    padding-left: 2%;
}
.green-container{
    padding: 1.5rem;
}
.right{
    background-color: #00494d;
    width:100%;
    height:100%;
    border-radius: 10px;
    color: white;
    display: grid;
    grid-template-rows: 50% 50%;
}
@media (max-width: 375px) {
    .right{
        grid-template-rows: 60% 40%;
    }
}
.right-top{
    display: grid;
    grid-template-rows: 50% 50%;
}
.result-template{
    padding-left: 1rem; 
    padding-right: 1rem;
    display: grid;
    font-size: 0.6rem;
    grid-template-columns: 50% 50%;
}
.result-template p{
    margin: 0rem;
    font-weight: 600;
}
.person{
    font-size: 0.5rem;
    color: #c5e4e7;
}
.result{
    position: relative;
    top: 30%;
    font-size: 1.3rem;
    text-align: right;
    color: #26c0ab;
    font-weight: bold;
}
.right-bottom{
    align-self: end;
}
.reset-container{
    width:100%;
    padding: 1em;
}
.reset{
    padding: 0.5rem;
    width: 90%;
    border: none;
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 5px;
    background-color:#26c0ab;
    color: #00494d;
    letter-spacing: 0.1rem;
}